@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300&family=Roboto:wght@100;300;400;500;700&family=Teko:wght@300;400;500;600&family=Ysabeau+Infant:wght@200&display=swap');
.navbar {
  height: 100px;
  // border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  
  align-items: center;
  font-size: 14px;
  color: #555;

  .wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title{
      display: flex;
      position: relative; 
      font-family:'Teko', sans-serif;
      font-size: 30px;
      font-style: bold;
      font-weight: 600;
      color: #141720;
    }

    .search {
      display: flex;
      align-items: center;
      // border: 0.5px solid lightgray;
      background-color: white;
      border-radius: 10px;
      padding: 5px;
      padding-right: 300px;

      input {
        border: none;
        outline: none;
        background: transparent;

        &::placeholder {
          font-size: 15px;
        }
      }
    }

    .items {
      display: flex;
      align-items: center;
      

      .item {
        display: flex;
        align-items: center;
        margin-right: 40px;
        position: relative;

        .icon {
          display: flex;
          font-size: 20px;
        }

        .avatar {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
        .userTexts {
          padding-left: 15px;
          display: flex;
          flex-direction: column;
          // gap: 1px;

          .username {
            color: #141720;
            font-size: 25px;
            font-weight: 700;
          }
          .role {
            font-size: 12px;
            font-weight: 500;
            
          }
        }

        .counter {
          width: 15px;
          height: 15px;
          background-color: red;
          border-radius: 50%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          font-weight: bold;
          position: absolute;
          top: -5px;
          right: -5px;
        }
      }
    }
  }
}
